// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: 56px;
  .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
  }
}

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.press-this {
  &:hover {
    text-decoration: none;
  }

  .press-img {
    font-size: 20px;
    color: #000;
    width: 180px;
    height: 140px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 180px;
    background-image: url("../b1.png");
  }

  &:active .press-img {
    background-image: url("../b2.png");
  }
}

.memory-display {
  color: #fff;
  background-color: #000;
  height: 50px;
  font-size: 28px;
  padding: 5px;
  margin-bottom: 10px;
}
.symbol {
  font-family: arial, serif;
}